{% extends "base.html" %}

{% block content %}

<h2>
{% block title %}
Add {{ view.ctype }}
{% endblock %}
</h2>

{% if form.errors %}
<div class="alert alert-error">
  {{ form.errors }}
</div>
{% endif %}

<form action="" method="POST">
  {% csrf_token %}

  {% block form %}
  {{ form }}
  {% endblock %}

  <div class="btn-group submission">
    <input name="submit" class="btn btn-primary" type="submit" value="Save" />
    <a href="{% url 'config' %}" class="btn">Cancel</a>
  </div>
</form>

{% endblock %}
