{% extends "base.html" %}

{% load bootstrap3 %}

{% block toolbar %}
{% endblock %}

{% block content %}

<h1>{% block title %}Add {{ view.ctype }}{% endblock %}</h1>

{% if form.errors %}
<div class="alert alert-error">
  {{ form.errors }}
</div>
{% endif %}

<form action="" method="POST">

  {% if form.help %}
  <div class="alert alert-info">
    {{ form.help|safe }}
  </div>
  {% endif %}

  {% csrf_token %}

  {% block form %}
  {% bootstrap_form form %}
  {% endblock %}

  <div class="btn-group submission">
    <input name="submit" class="btn btn-primary" type="submit" value="Save" />
    <a href="{% url 'config' %}" class="btn btn-default">Cancel</a>
  </div>
</form>

{% endblock %}
