{% extends "base.html" %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">Settings</div>
  <div class="panel-body">
    <dl>
      {% for setting in view.list_settings %}
      <dt>{{ setting.name }}</dt><dd>{{ setting.value }}</dd>
      {% endfor %}
    </dl>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Service Level Agreements
    <span class="controls pull-right">
      <a href="{% url 'create_sla' %}" 
         target="#slas"
         class="btn btn-xs btn-success">
        <i class="fa fa-plus"></i> 
      </a>
    </span>    
  </div>

  <div class="panel-body">    
    <ul id="slas" class="list-unstyled">
      {% for sla in view.list_slas %}
      {% include "snippets/sla.html" with object=sla %}
    {% endfor %}
    </ul>
  </div>

  <div class="panel-footer">
    <p class="text-info">
      To add rules and contacts to an SLA, navigate to it using the
      link or the settings button.
    </p>
  </div>    

</div>

<div class="panel panel-default">
  <div class="panel-heading">Operators
    <span class="controls pull-right">
      <a href="{% url 'create_operator' %}" 
         target="#operators"
         class="btn btn-xs btn-success">
        <i class="fa fa-plus"></i> 
      </a>
    </span>
  </div>

  <div class="panel-body">
    <ul id="operators" class="list-unstyled">
      {% for operator in view.list_operators %}
      {% include "snippets/operator.html" with object=operator %}    
      {% endfor %}
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Contacts
    <span class="controls pull-right">
      <a href="{% url 'create_contact' %}" 
         class="btn btn-xs btn-success">
        <i class="fa fa-plus"></i> 
      </a>
    </span>
  </div>
  <div class="panel-body">
    <ul id="contacts" class="list-unstyled">
      {% for contact in view.list_contacts %}
      {% include "snippets/contact.html" with object=contact %}    
      {% endfor %}
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Mail queues
    <span class="controls pull-right">
      <a href="{% url 'create_mailqueue' %}" 
         target="#mailqueues"
         class="btn btn-xs btn-success">
        <i class="fa fa-plus"></i> 
      </a>
    </span>
  </div>
  <div class="panel-body">
    <ul id="mailqueues" class="list-unstyled">
      {% for queue in view.list_mailqueues %}
      {% include "snippets/mailqueue.html" with object=queue %}    
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
