{% extends "base.html" %}

{% block tools %}
{% endblock %}

{% block content %}

<div class="viewlet well">
  <h2>Service Level Agreements
    <a href="{% url create_sla_json %}" 
       target="#slas"
       class="btn btn-mini btn-success add-inline">
      <i class="icon-plus"></i> 
    </a>
  </h2>
  <ul id="slas">
    {% for sla in view.list_slas %}
    {% include "snippets/sla.html" with object=sla %}
    {% endfor %}
  </ul>
</div>

<div class="viewlet well">
  <h2>Operators
    <a href="{% url create_operator_json %}" 
       target="#operators"
       class="btn btn-mini btn-success add-inline">
      <i class="icon-plus"></i> 
    </a>
  </h2>
  <ul id="operators">
    {% for operator in view.list_operators %}
    {% include "snippets/operator.html" with object=operator %}    
    {% endfor %}
  </ul>
</div>

<div class="viewlet well">
  <h2>Contacts
    <a href="{% url create_contact_json %}" 
       target="#contacts"
       class="btn btn-mini btn-success add-inline">
      <i class="icon-plus"></i> 
    </a>
  </h2>
  <ul id="contacts">
    {% for contact in view.list_contacts %}
    {% include "snippets/contact.html" with object=contact %}    
    {% endfor %}
  </ul>
</div>

<div class="viewlet well">
  <h2>Mail queues
    <a href="{% url create_mailqueue_json %}" 
       target="#mailqueues"
       class="btn btn-mini btn-success add-inline">
      <i class="icon-plus"></i> 
    </a>
  </h2>
  <ul id="mailqueues">
    {% for queue in view.list_mailqueues %}
    {% include "snippets/mailqueue.html" with object=queue %}    
    {% endfor %}
  </ul>
</div>

{% endblock %}
