{% extends "base.html" %}

{% block content %}

<h2>{% block title %}New thing{% endblock %}</h2>

{% if form.errors %}
<div class="alert alert-error">
  {{ form.errors }}
</div>
{% endif %}

<form action="" method="POST">
  {% csrf_token %}

  {% block form %}
  {% endblock %}

  <div class="btn-group submission">
    <input name="submit" class="btn btn-primary" type="submit" value="Create" />
    <input name="submit" class="btn" type="submit" value="Cancel" />
  </div>
</form>

{% endblock %}
