{% extends "base.html" %}

{% load form_tags %}

{% block content %}

{% if form.errors %}
<div class="alert alert-error">
  {{ form.errors }}
</div>
{% endif %}

<form action="{% url 'edit_target' object.id %}" method="post">
  {% csrf_token %}

  <fieldset>
    <legend>Van</legend>
    <div class="hflow">
      {% control form.period_from "False" %}
    </div>
  </fieldset>

  <fieldset>
    <legend>Tot</legend>
    <div class="hflow">
      {% control form.period_to "False" %}
    </div>
  </fieldset>

  {% control form.account_name %}
  {% control form.company %}
  {% control form.target_value %}

  <div class="btn-group">
    <input name="submit" class="btn" type="submit" value="Cancel" />
    <input name="submit" class="btn btn-primary" type="submit" value="Submit" />
  </div>
</form>

{% endblock %}
