{% extends "base.html" %}

{% block tools %}
<div id="tools" class="btn-group">
  <a class="btn btn-success" 
     href="{% url 'create_issue' %}"><i class="icon-plus"></i> New issue</a>
</div>
{% endblock %}

{% block content %}

<div class="viewlet well">
  <h2>Unassigned tickets</h2>
  <ul>
    {% for issue in view.list_unassigned_issues %}
    {% include "snippets/issue.html" with object=issue %}
    {% endfor %}
  </ul>
</div>

<div class="viewlet well">
  <h2>Your tickets</h2>
  <ul>
    {% for issue in view.list_my_issues %}
    {% include "snippets/issue.html" with object=issue %}
    {% endfor %}
  </ul>
</div>

<div class="viewlet well">
  <h2>All unclosed tickets
    <a class="toggle expand" href="#">▼</a>
    <a class="toggle collapse" href="#">▲</a>
  </h2>
  <ul class="hide">
    {% for issue in view.list_unclosed_issues %}
    {% include "snippets/issue.html" with object=issue %}
    {% endfor %}
  </ul>
</div>

{% endblock %}
