{% extends "base.html" %}

{% block content %}

{% if view.list_unassigned_issues %}
<div class="viewlet panel panel-danger">
  <div class="panel-heading">
    <i class="fa fa-bell"></i>
    Unassigned tickets
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
      {% for issue in view.list_unassigned_issues %}
      {% include "snippets/issue.html" with object=issue %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

<div class="viewlet panel panel-primary">
  <div class="panel-heading">    
    <i class="fa fa-bell"></i>
       Your tickets</div>
  <div class="panel-body">
    {% if not view.list_my_issues %}
    No issues. Sit back and relax.
    {% else %}
    <ul class="list-unstyled">
      {% for issue in view.list_my_issues %}
      {% include "snippets/issue.html" with object=issue %}
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

{% if view.list_unclosed_issues %}
<div class="viewlet panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-bell"></i>
    All unclosed tickets
  </div>
  <div class="panel-body">
    <ul id="unclosed" class="list-unstyled">
      {% for issue in view.list_unclosed_issues %}
      {% include "snippets/issue.html" with object=issue %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% endblock %}
