{% extends "base.html" %}

{% block tools %}
<div id="tools" class="btn-toolbar">

  {% include "controls/status_control.html" %}
  {% include "controls/assignee_control.html" %}
  <a href="{% url edit_issue object.pk %}" class="btn">
    <i class="icon-edit"></i> Edit
  </a>

</div>
{% endblock %}

{% block content %}

<h2>
  <span class="label label-{{ issue.urgency }}">{{ issue.urgency }}</span>
  {{ object.title }}
</h2>

<dl>
  <dt>SLA</dt><dd>{{ object.sla }}</dd>
  <dt>Service</dt><dd>{{ object.service }}</dd>
  <dt>Created</dt><dd>{{ object.created }}</dd>
  {% if not object.dateclosed %}
  <dt>Deadline</dt><dd>{{ object.deadline|default:"-" }}</dd>
  <dt>Time to resolve</dt><dd>{{ object.time_to_resolve|default:"-" }}</dd>
  {% else %}
  <dt>Closed</dt><dd>{{ object.dateclosed|default:"-" }}</dd>
  {% endif %}
  <dt>Contact</dt><dd>{{ object.contact }}</dd>
</dl>

{% if object.attachment_set.count %}
<div class="viewlet well">
  <h2>Attachments</h2>
  <ul>
    {% for attachment in object.attachment_set.all %}
    <li>
      <a href="{{ attachment.download_url }}">
        {{ attachment.filename }} [{{ attachment.mimetype }}]
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if object.comments.count %}
<div class="viewlet well expanded">
  <h2>Comments
    <a class="toggle expand" href="#">▼</a>
    <a class="toggle collapse" href="#">▲</a>
  </h2>
  {% for comment in object.comments.all %}
  <div class="comment">
    {{ comment.comment }}
    <time>{{ comment.date }}</time>
  </div>
  {% endfor %}
</div>
{% endif %}

{% include "snippets/history.html" %}

{% endblock %}
