<div class="btn-group" id="assignee">
  <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
    Assignee: <span class="status">{{ object.assignee|default:"-" }}</span> 
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    {% for user in view.list_users %}
    <li>
      <a class="action-inline" 
       <a href="{% url change_assignee object.pk %}"
       data-pu_actionmethod="POST"
       data-pu_actiondata="assignee={{ user.pk }}"
       target="#assignee"
       data-pu_targetbehavior="replace">
        {{ user }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
