<div class="btn-group" id="assignee">
  <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
    Assignee: <span class="status">{{ object.assignee|default:"-" }}</span> 
    {% if view.list_users %}<span class="caret"></span>{% endif %}
  </a>
  {% if view.list_users %}
  <ul class="dropdown-menu">
    {% for user in view.list_users %}
    <li>
      <a class="inline" 
       <a href="{% url 'change_assignee' object.pk %}?assignee={{ user.pk }}"
          target="#assignee">
         {{ user }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
