<div class="btn-group" id="status">
  <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
    Status: <span class="status">{{ object.status }}</span> 
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    {% for opt in view.list_status_options %}
    <li>
      <a class="create-status" 
         href="{% url 'change_status' object.pk %}?status={{ opt.0 }}">
        {{ opt.1 }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% if redir %}
<script>
  document.location = "{% url 'view_issue' object.pk  %}";
</script>
{% endif %}
