.navbar {
    margin-top: 10px;
}

.issue.high {
    color: #ff0000;
}

.status {
    font-weight: bold;
    width: 20%;
}

dl.details dt {
    width: 150px;
    text-align: left;
}

.submission, #MyModal .btn-group {
    display: block !important;
}

h1 {
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    font-size: 120% !important;
}

.panel li {
    line-height: 25px;
    padding: 5px;
    border-radius: 5px;
}

li .controls {
    float: right;
    opacity: 0.2;
}

li:hover .controls {
    opacity: 1.0;
}

.controls.controls-attachments {
    margin: 15px;
}

.panel li:hover {
    background-color: #e3e3e3;
}

.controls .btn-danger {
    color: #ffffff !important;
}

.critical {
    color: #B94A48;
}

.warning {
    color: #f89406;
}

.default {
    text-decoration: underline;
}

.label-critical {
    background-color: #B94A48 !important;
}

.label-normal {
    background-color: #3A87AD !important;
}

.issue {
    color: #303030;
    margin-bottom: 20px;
}

.issue a {
    margin-left: 20px;
}

time {
    font-style: italic;
    font-size: 90%;
    display: block;
    color: #909090;
}

.issue time {
    margin-left: 70px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

/* modal */
.modal-header {
    min-height: 20px;
}

.btn.disabled {
    cursor: wait !important;
}

/* alerts */
.container {
    position: relative;
}

#alerts, #message {
    position: absolute;
    min-height: 30px;
    width: 90%;
    top: 50px;
    left: 20px;
    z-index: 666;
}

.helptext {
    color: #3A87AD;
}

div.descr {
    margin-bottom: 20px;
    border-bottom: 1px solid #cecece;
}

#comments {
    margin-top: 20px;
}

.history-item div.comment,
pre.comment {
    max-height: 300px;
    overflow: scroll;
}

pre.comment,
#main .descr pre,
#history-viewlet pre {
    padding: 0;
    background-color: transparent;
    border: 0 solid;
}

.btn-toolbar {
    margin-left: 0;
}

.row.history-item {
    padding: 15px 0;
    border-bottom: 1px solid #cecece;
    margin: 0;
}