#tools {
    clear: both;
    margin-bottom: 20px;
}

.issue.normal {
}

.issue.high {
    color: #ff0000;
}

.viewlet ul {
    list-style: none;
}

.viewlet ul a {
    color: inherit !important;
}

.status {
    font-weight: bold;
}

.comment {
    font-style: italic;
}

dt {
    float: left;
    clear: both;
    width: 150px;
}

.submission, #MyModal .btn-group {
    display: block !important;
}

h2 {
    font-size: 20px !important;
}

.viewlet ul {
    width: 60%;
}

li.editable .controls {
    float: right;
    opacity: 0.2;
}

li.editable {
    clear: both;
    height: 30px;
}

li.editable:hover .controls {
    opacity: 1.0;
}

li.editable:hover {
    text-decoration: underline;
}

.controls .btn-danger {
    color: #ffffff !important;
}

.critical {
    color: #B94A48;
}

.warning {
    color: #f89406;
}

.default {
    text-decoration: underline;
}

.label-critical {
    background-color: #B94A48 !important;
}

.label-normal {
    background-color: #3A87AD !important;
}

.issue {
    color: #303030;
}

time {
    font-style: italic;
    font-size: 90%;
    display: block;
    color: #909090;
}

.issue time {
    margin-left: 50px;
}

.viewlet h2 {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
}

.viewlet h2 .toggle {
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 0px;
    cursor: pointer;
    color: #303030;
    text-decoration: none;
}

.viewlet h2 .toggle.collapse {
    display: none;
}

.viewlet.expanded .toggle.collapse {
    display: block;
}

.viewlet.expanded h2 .toggle.expand {
    display: none;
}

