{% extends "wiki/base_site.html" %}

{% load mrwolfe_tags %}

{% block wiki_header_branding %}
<a class="navbar-brand" href="/">Mr.Wolfe</a>
{% endblock %}

{% block wiki_header_navlinks %}
<ul class="nav navbar-nav">
  <li><a href="/"><i class="icon-tasks"></i> {% username request.user %}</a></li>
  <li><a href="/config"><i class="icon-wrench"></i> Admin</a></li>
  <li class="active"><a href="{% url 'wiki:root' %}">Wiki</a></li>
  <li><a href="/help"><i class="icon-info-sign"></i> Help</a></li>
</ul>
{% endblock %}


{% block wiki_footer_logo %}

{% endblock %}
