{% extends 'base.html' %}

{% block toolbar %}{% endblock %}

{% block content %}

<div class="alert alert-danger">
  Do you really want to delete this issue?  May I remind you that you
  normally do not want to delete an issue, but close it instead?
</div>

<form action=""
      method="POST" 
      class="form">

    {% csrf_token %}

    <div class="btn-group submission">
      <button type="submit" class="btn btn-primary">
        Yes, I know what I'm doing
      </button>
      <a href="/" class="btn btn-default">
        Hmm, now that you mention it. No.
      </a>
    </div>

</form>

{% endblock %}
