<div class="panel panel-warning" id="history-viewlet">
    <div class="panel-heading"><i class="fa fa-history"></i> History</div>
    <div class="panel-body">
        {% for status in view.status_history %}
        <div class="row">

            <div class="col-xs-6 col-md-2">
                <strong>{{ status.name }}</strong>
            </div>
            <div class="col-xs-6 col-md-2">
                {{ status.date }}
            </div>
            <div class="col-xs-12 col-md-8 comment">{{ status.comment }}</div>
        </div>

        <hr>

        {% endfor %}
    </div>
</div>
