<div class="viewlet well expanded" id="history-viewlet">
  <header class="clearfix">
    <h2 class="pull-left">History</h2>
    <span class="controls pull-right">
      <a class="btn btn-mini toggle expand" href="#history" title="Expand">
        <i class="icon-expand"></i>
      </a>
      <a class="btn btn-mini toggle collapse" href="#history" title="Collapse">
        <i class="icon-collapse"></i>
      </a>
    </span>
  </header>
  <div id="history">
    {% for status in view.status_history %}
    <div class="statusupdate">
      <span class="status">{{ status.name }}</span> - <span>{{ status.date }}</span>
      <div class="comment">
        {{ status.comment }}
      </div>
    </div>
    {% endfor %}  
  </div>
</div>
