{% if view.combined_history %}
<div class="panel panel-warning" id="history-viewlet">
    <div class="panel-heading"><i class="fa fa-history"></i> History</div>
    <div class="panel-body">

        {% for status in view.combined_history %}
        <div class="row history-item">

            <div class="col-xs-6 col-md-2">
                <span class="label label-normal">{{ status.name }}</span>
            </div>
            <div class="col-xs-6 col-md-3">
                {{ status.date }}
            </div>
            <div class="col-xs-12 col-md-7 comment">{{ status.comment }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}