<li class="{% if object.is_default %}default{% endif %}"
    id="service_{{ object.pk }}">
  {{ object }}
  <div class="controls pull-right">
    <a class="btn btn-default btn-xs" 
       href="{% url 'edit_service' object.pk %}">
      <i class="fa fa-edit"></i>
    </a>
    <a class="btn btn-xs btn-danger" 
       href="{% url 'delete_service' object.pk %}">
      <i class="fa fa-minus"></i>
    </a>
    {% if not object.is_default %}
    <a class="inline btn btn-default btn-xs" 
       href="{% url 'set_default_service' object.pk %}"
       target="#service_{{ object.pk }}"
       title="Set as default"
       rel="tooltip">
      <i class="fa fa-star"></i>
    </a>
    {% endif %}
  </div>
</li>
